body {
	font-family: sans-serif;
	cursor: default;
	}

a {
	color: teal;
	}

ul {
	margin-top: 0px;
	font-size: .8em;
	}

li {
	}

td {
	vertical-align:top;
/* 	border: 1px solid blue; */
	}

#newGame {
	display:none;
	}

.gameNumbers {
	color: red;
	}

.noIndent {
	padding-left: 25px;
	}
	
.verboseCell{
	font-size: .8em;
	}
	
.header {
	background: #BBB;
	}

.currenciesTracker {
	float:right;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
	}
	
h3 {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 0px;
	}

.tableHead {
	font-weight: bold;
	text-align: right;
	padding-left: 10px;
	color: #999;
	font-size: 80%;
	}

.tableColumnHead {
	font-weight: bold;
	border-bottom: 2px solid black;
	text-align: center;
	width: 30%;
	}
	
.sidebar {
	width: 20%;
	height: 80vh;
	float:left;
	}

#fillBar {
	height: 100%;
	background: #BBB;
	}

.filter {
	float: left;
	padding-left: 3px;
	padding-right: 3px;
	}

.filterBar {
	margin-left: 20px;
	font-size: 70%;
	}

#mapBar {
	background: #4A7F21;
	color: #183800;
	}

#mapBar h3 {
	color: #97C672;
	border-bottom: 3px solid #2D5B09;
	border-right: 3px solid #2D5B09;
	}

#mapBarContents {
	background: #97C672;
	border-right: 3px solid #699F40;
	border-bottom: 3px solid #699F40;
	display: none;
	}

#calBar {
	background: #262564;
	color: #06052C;
	}

#calBar h3 {
	color: #65639C;
	border-bottom: 3px solid #121147;
	border-right: 3px solid #121147;
	}

#calBarContents {
	background: #65639C;
	border-right: 3px solid #3F3D7D;
	border-bottom: 3px solid #3F3D7D;
	display: none;
	}

#contactBar {
	background: #8F7525;
	color: #3F3000;
	}

#contactBar h3 {
	color: #E0C880;
	border-bottom: 3px solid #66500A;
	border-right: 3px solid #66500A;
	}

#contactBarContents {
	background: #E0C880;
	border-right: 3px solid #B39948;
	border-bottom: 3px solid #B39948;
	display: none;
	max-height: 60vh;
	overflow-y: scroll;
	}

#actionBar {
	background: #81223D;
	color: #390010;
	}

#actionBar h3 {
	color: #C9738C;
	border-bottom: 3px solid #5C0921;
	border-right: 3px solid #5C0921;
	}

#actionBarContents {
	background: #C9738C;
	border-right: 3px solid #A2415C;
	border-bottom: 3px solid #A2415C;
	display: none;
	}

.barList {
	margin: 0px;
	margin-top: 2px;
	padding-bottom: 10px;
	clear: both;
	}

.pane {
	margin-left: 22%;
	margin-top: 2%;
	}

#mapPane {
	display: none;
	}

#mapImagePane {
	width: 400px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
	}

#mapNeighborhoodPane {
	float:left;
	margin-right: 50px;
	width: 40%;
	}

#mapInstitutionPane {
	}

dl {
	padding-left:20px;
	}

dt {
	display:inline;
	font-weight: bold;
	}

dd {
	display:inline;
	}

#calPane {
	display: none;
	}

#calendarTable {
	margin-left: 20px;
	}

.calCellPast {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	background: #BBB;
	color: #777;
	}

.calCellFutureNone {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	background: white;
	color: #DDD;
	}

.calCellFutureEvent {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	background: white;
	color: #222;
	}
	
.calendarEntry {
	padding-left: 40px;
	}

.event {
	}

#contactPane {
	display: none;
	}

#actionPane {
	display: none;
	}

.actionContent {
	display: none;
	}

.calHead {
	font-size: 50%;
	border-bottom: 1px dotted grey;
	width: 400px;
	}

.eventHead {
	padding-left: 30px;
	}

.eventList {
	margin-top: 0px;
	}

.eventInfo {
	margin-left: 30px;
	}

.eventConflict {
	margin-left: 30px;
	margin-top: 10px;
	padding: 3px;
	font-style: italic;
	color: red;
	background: pink;
	width: 90%;
	}

.actionTable {
	margin-left: 5%;
	width: 80%;
	max-width: 80%;
	min-width: 80%;
/* 
	border: 1px solid grey;
	background: #eee;
 */
	}

#titleInput {
	width: 80%;
	}

#eventNameInput {
	width: 80%;
	}
	
#actionScheduledBar {
	margin-left: 5%;
	}

.actionConnectContent {
	margin-left: 5%;
	}

.connectNewBox {
	display:inline-block;
	text-align:center;
	vertical-align:top;
	margin-right: 5%;
	}

#actionMassCommunicationContent {
	margin-left: 5%;
	}

#communicationManageListsDiv {
	margin-left: 5%;
	}

.listBox {
	display:inline-block;
	vertical-align:top;
	margin-right: 5%;
	margin-bottom: 5%;
	}

.listTitle {
	margin-bottom: 0;
	padding-bottom: 0;
	}

.listIssue {
	font-size: 0.8em;
	margin-left: 10px;
	margin-top: 0;
	padding-top: 0;
}

#actionDelegateContent {
	margin-left: 5%;
	}

#actionSelfCareContent {
	margin-left: 5%;
	}

#eventPlanVenueList {
	max-width: 150px;
	}

.debug {
	clear: both;
	padding: 10px;
	border: 2px solid black;
	background: repeating-linear-gradient(
		45deg,
		orange,
		yellow 20px,
  		black 20px,
  		black 40px
		);
	}

#contactCauses {
	background-color: #fff;
	border: 2px solid black;
	}


/* VALUES TABLE */

#valuesTable {
	width: 100%;
	}

.valueCell {
	font-size: 60%;
	text-align: center;
	}

#ambitionCell {
	background: #e66665;
	}

#authorityCell {
	background: #f47d43;
	}

#careCell {
	background: #ffd602;
	}

#fairnessCell {
	background: #9eceb4;
	}

#libertyCell {
	background: #accbe8;
	}

#loyaltyCell {
	background: #9295ca;
	}
					
#purityCell {
	background: #a9b2b1;
	}
	
/* Results Tray */

#resultsTray {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-animation-name: fadeIn;
	-webKit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
	}

#resultsContent {
	position: fixed;
	bottom: 0;
	background-color: #fefefe;
	width: 60%;
	margin-left: 20%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	}

#resultsTrayStub {
	position: fixed;
	bottom: 0;
	background-color: #fefefe;
	width: 60%;
	margin-left: 20%;
	}

.resultsHeader {
	background: #81223D;
	color: #C9738C;
	}
	
#resultsTrayCloseButton {
	float:right;
	margin-right: 20px;
	}

#resultsHistory {
	display: none;
	padding: 40px;
	}

#resultsLast {
	padding: 40px;
	}

#resultsButtons {
	padding: 40px;
	}

@-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom:0; opacity: 1}
	}

@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
	}
	
@-webkit-keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
	}

@keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
	}